<!DOCTYPE html>
<html lang = "en">

<!--head-->
<head profile = "http://www.w3.org/2005/10/profile">
  <title>Login</title>
  <link rel = "stylesheet" href = "/stylesheets/login.css">
  <link rel = "stylesheet" href = "/stylesheets/foot.css">
</head>

<body>

  <div class = "page">

    <div class = "greeting">login</div>

    <div class = "warn"><%= message %></div><br>

    <form method = "post" action = "/auth" class = "loginform">
      <span class = "passwordprompt">password:  </span><input type = "password" name = "password" class = "input"> <br>
      <button id = "loginbutton"><image src = "images/lock.png" id = "lock"></image></button>
    </form>

    <% include includes/foot.ejs %>

  </div>

</body>

<script src = "https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src = "/javascript/login.js"></script>