body{
	background-color: #000000;

	margin: 0px;
	border: 0px;
	padding: 0px;
}

.page{
	background: radial-gradient(circle, #808080 25%, #111111 90%);
	
	margin: 0px 0px 0px 20vw;
	border: 0px;
	padding: 0px;

	height: 100vh;
	width: auto;

	overflow: auto;
	overflow-x: hidden;
}

.verticallyCentered{
	position: relative;

	top: 50%;
	transform: translateY(-50%);
}

.selfie{
	height: auto;
	width: 50%;

	display: block;

	margin: 0 auto;
	padding: 0px;
	border: 0px;
}

.greeting{
	font-size: 8vh;
	color: #FFFFFF;
	
	text-align: center;
	margin-top: 5vh;
}

.hiddenlink{
	height: 3vh;
	width: 3vh;

	position: absolute;
	left: 51%;
	top: 31%;
}

@media (max-width: 1024px) and (orientation: landscape){
	.page{
		margin: 0px 0px 0px 10vw;
	}

	.verticallyCentered{
		top: 0%;
		transform: translateY(0%);

		margin-top: 5vh;
	}

	.hiddenlink{
		left: 50%;
		top: 23%;
	}
}

@media (max-width: 1024px) and (orientation: portrait){
	.page{
		margin: 0px 0px 0px 10vw;
	}

	.verticallyCentered{
		top: 0%;
		transform: translateY(0%);

		margin-top: 10vh;
	}

	.hiddenlink{
		left: 50%;
		top: 23%;
	}
}